//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 27 20:47:40 2022
//! **************************************************************************

SCHEMATIC START;
COMP "C<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "C<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "C<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "C<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "C<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "DP" LOCATE = SITE "M4" LEVEL 1;
COMP "EN" LOCATE = SITE "P3" LEVEL 1;
COMP "Di" LOCATE = SITE "P2" LEVEL 1;
COMP "Adj_Minute" LOCATE = SITE "T1" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "AN<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "AN<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "AN<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "AN<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "AdjH" LOCATE = SITE "U4" LEVEL 1;
COMP "AdjM" LOCATE = SITE "V5" LEVEL 1;
COMP "Ring" LOCATE = SITE "V2" LEVEL 1;
COMP "Trans" LOCATE = SITE "T3" LEVEL 1;
COMP "CP_100MHz" LOCATE = SITE "E3" LEVEL 1;
COMP "Alarm" LOCATE = SITE "U2" LEVEL 1;
COMP "Alert" LOCATE = SITE "R2" LEVEL 1;
COMP "nCLR" LOCATE = SITE "P4" LEVEL 1;
COMP "Adj_Hour" LOCATE = SITE "R3" LEVEL 1;
COMP "C<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "C<1>" LOCATE = SITE "N1" LEVEL 1;
SCHEMATIC END;

