

NET "AN[7]" LOC = M1;
NET "AN[6]" LOC = L1;
NET "AN[5]" LOC = N4;
NET "AN[4]" LOC = N2;
NET "AN[3]" LOC = N5;
NET "AN[2]" LOC = M3;
NET "AN[1]" LOC = M6;
NET "AN[0]" LOC = N6;


NET "AN[7]" IOSTANDARD = LVCMOS18;
NET "AN[6]" IOSTANDARD = LVCMOS18;
NET "AN[5]" IOSTANDARD = LVCMOS18;
NET "AN[4]" IOSTANDARD = LVCMOS18;
NET "AN[3]" IOSTANDARD = LVCMOS18;
NET "AN[2]" IOSTANDARD = LVCMOS18;
NET "AN[1]" IOSTANDARD = LVCMOS18;
NET "AN[0]" IOSTANDARD = LVCMOS18;


NET "C[3]" LOC = L4;
NET "C[6]" LOC = L6;
NET "C[5]" LOC = M2;
NET "C[2]" LOC = L5;
NET "C[1]" LOC = N1;
NET "C[0]" LOC = L3;


NET "C[6]" IOSTANDARD = LVCMOS18;
NET "C[5]" IOSTANDARD = LVCMOS18;
NET "C[4]" IOSTANDARD = LVCMOS18;
NET "C[3]" IOSTANDARD = LVCMOS18;
NET "C[2]" IOSTANDARD = LVCMOS18;
NET "C[1]" IOSTANDARD = LVCMOS18;
NET "C[0]" IOSTANDARD = LVCMOS18;


NET "CP_1MHz" LOC = E3;
NET "DP" LOC = M4;


NET "DP" IOSTANDARD = LVCMOS18;


NET "CP_1MHz" IOSTANDARD = LVCMOS18;


NET "iD[3]" LOC = P4;
NET "iD[2]" LOC = P3;
NET "iD[1]" LOC = R3;
NET "iD[0]" LOC = T1;


NET "iD[3]" IOSTANDARD = LVCMOS18;
NET "iD[2]" IOSTANDARD = LVCMOS18;
NET "iD[1]" IOSTANDARD = LVCMOS18;
NET "iD[0]" IOSTANDARD = LVCMOS18;


NET "C[4]" LOC = K3;

# PlanAhead Generated physical constraints 

NET "nCLR" LOC = P4;
NET "EN" LOC = P3;
NET "Adj_Hour" LOC = R3;
NET "Adj_Minute" LOC = T1;
NET "CP_100MHz" LOC = E3;

# PlanAhead Generated IO constraints 

NET "nCLR" IOSTANDARD = LVCMOS18;
NET "EN" IOSTANDARD = LVCMOS18;
NET "Adj_Hour" IOSTANDARD = LVCMOS18;
NET "Adj_Minute" IOSTANDARD = LVCMOS18;
NET "CP_100MHz" IOSTANDARD = LVCMOS18;
